/* metro风格css，基于bootstrap，
 * Laolin 2003.6
 *****************************/

div.metbox-row {
  margin: 0 0 0px 0;
  padding:0;
  overflow:hidden;
}

div.metbox-row  > b{
  font-weight:normal;
  overflow:hidden;
}
  

@media (min-width: 768px) {
  div.metbox-row-s1 > b{
    height: 140px;
  }
  div.metbox-row-s2 > b{
    height: 290px;
  }
  div.metbox-row-s3 > b{
    height: 440px;
  }
  div.metbox-row-s4 > b{
    height: 590px;
  }
  div.metbox-row-s5 > b{
    height: 740px;
  }
  div.metbox-row-s6 > b{
    height: 890px;
  }
  div.metbox-row-s7 > b{
    height: 1040px;
  }
}
@media (max-width: 767px) {

}
b.metbox {
  display: block;
  cursor: pointer;
  -webkit-perspective: 0;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.2s;
  float: left;
  text-align: left;
  padding: 10px 15px 5px 15px;
  opacity: 0.75;
  background-color: #2e8bcc;
  margin: 0 0 10px 0 ;
}
b.metbox:hover {
  opacity: 1;
}


b.metbox-blue {
  background-color: #2e8bcc;
}
b.metbox-green {
  background-color: #339933;
}
b.metbox-red {
  background-color: #e51400;
}
b.metbox-yellow {
  background-color: #ffc40d;
}
b.metbox-orange {
  background-color: #f09609;
}
b.metbox-pink {
  background-color: #e671b8;
}
b.metbox-purple {
  background-color: #7b4f9d;
}
b.metbox-lime {
  background-color: #8cbf26;
}
b.metbox-magenta {
  background-color: #ff0097;
}
b.metbox-teal {
  background-color: #00aba9;
}
b.metbox-white {
  background-color: #eeeeee;
}
b.metbox-black {
  background-color: #111111;
}


div.metbox-row > b h2 {
  font-size:1.5em;
  line-height:1.03em;
  padding:0px;
  text-align: center;
}


div.metbox-row > b , 
div.metbox-row > b p {
  color: #eee;
  text-decoration: none;
  
}

div.metbox-row > b.metbox-white , 
div.metbox-row > b.metbox-white p , 
div.metbox-row > b.metbox-yellow , 
div.metbox-row > b.metbox-yellow p {
  color: #333;
}

div.metbox-row > b a ,
div.metbox-row > b a:active {
  color: #3f3;
  text-decoration: none;
}

div.metbox-row > b a:hover {
  text-decoration: underline;
}

