/* metro风格css，基于bootstrap，
 * Laolin 2003.6
 *****************************/
 
@media  (min-width: 992px){
  div.mat-container{
    margin-top: -50px;
    margin-left: -150px;
    margin-right: -150px;
    padding:100px 180px 60px 180px;
    background-color:#303;
  }
}
@media (max-width: 991px) and (min-width: 768px){
  div.mat-container{
    margin-top: -50px;
    margin-left: -150px;
    margin-right: -150px;
    padding:50px 150px 10px 150px;
    background-color:#303;
  }
}
@media (max-width: 767px) {
  div.mat-container{
    margin-top: -50px;
    margin-left: -150px;
    margin-right: -15px;
    padding:50px 20px 10px 145px;
    background-color:#303;
  }
  b.metbox {
    margin: 10px;
  }
}
 

@media (min-width: 768px) {
  div.metbox-row-s1 > span{
    height: 100px;
  }
  div.metbox-row-s2 > span{
    height: 200px;
  }
  div.metbox-row-s3 > span{
    height: 300px;
  }
  div.metbox-row-s4 > span{
    height: 400px;
  }
  div.metbox-row-s5 > span{
    height: 500px;
  }
  div.metbox-row-s6 > span{
    height: 600px;
  }
  div.metbox-row-s7 > span{
    height: 700px;
  }
  b.metbox {
    margin: 10px;
  }
}

div.metbox-row {
  margin: 0 0 0px 0;
  padding:0;
  overflow:hidden;
}

div.metbox-row  > span[class^="col-"]{
  margin:0;
  padding:0;
}

div.metbox-row  > span{
  font-weight:normal;
  overflow:hidden;
}
b.metbox {
  display: block;
  /*cursor: pointer;*/
  -webkit-perspective: 0;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.2s;
  float: left;
  text-align: center;
  opacity: 0.85;
  background-color: #2e8bcc;
  padding: 10px 25px 5px 25px;
  width:100%;
  height:100%;
  overflow:hidden;
  border:solid 0px #338;
}
b.metbox:hover {
  opacity: 1;
}


b.metbox-blue {
  background-color: #2e8bcc;
}
b.metbox-green {
  background-color: #339933;
}
b.metbox-red {
  background-color: #e51400;
}
b.metbox-yellow {
  background-color: #ffc40d;
}
b.metbox-orange {
  background-color: #f09609;
}
b.metbox-pink {
  background-color: #e671b8;
}
b.metbox-purple {
  background-color: #7b4f9d;
}
b.metbox-lime {
  background-color: #8cbf26;
}
b.metbox-magenta {
  background-color: #ff0097;
}
b.metbox-teal {
  background-color: #00aba9;
}
b.metbox-white {
  background-color: #eeeeee;
}
b.metbox-black {
  background-color: #111111;
}

div.metbox-row > span b img {
  height: auto;
  max-width: 100%;
}
div.metbox-row > span b h2 {
  font-size:1.5em;
  line-height:1.03em;
  padding:5px;
  text-align: center;
}


div.metbox-row > span b , 
div.metbox-row > span b p {
  color: #eee;
  text-decoration: none;
  
}

div.metbox-row > span b.metbox-white , 
div.metbox-row > span b.metbox-white p , 
div.metbox-row > span b.metbox-yellow , 
div.metbox-row > span b.metbox-yellow p {
  color: #333;
}

div.metbox-row > span b a ,
div.metbox-row > span b a:active {
  color: #6f6;
  text-decoration: none;
}
div.metbox-row > span b.metbox-white a, 
div.metbox-row > span b.metbox-white a:active, 
div.metbox-row > span b.metbox-yellow a, 
div.metbox-row > span b.metbox-yellow a:active {
  color: #505;
}
div.metbox-row > span b a:hover {
  text-decoration: underline;
}

