
#main-box{
    margin: 0px;
    width:100%;
    background-color:#fff;
    padding-bottom:20px;
}

/* Top nav and header
-------------------------------------------------- */

.bs-docs-nav {
  background-color: #014;
}
.bs-docs-nav .navbar-brand {
  color: #fff;
}
.bs-docs-nav .navbar-nav > li > a {
  color: #ddd;
}
.bs-docs-nav .navbar-nav > li > a:hover {
  color: #fff;
  background-color: #2e8bcc;
}
.bs-docs-nav .navbar-nav > .active > a,
.bs-docs-nav .navbar-nav > .active > a:hover {
  color: #1ff;
  background-color: #2e8bcc
}
.bs-docs-nav .navbar-toggle {
  border-color: #563d7c;
}
.bs-docs-nav .navbar-toggle:hover {
  background-color: #463265;
  border-color: #463265;
}
