
#main-box{
    margin: 0px;
    width:100%;
    background-color:#fff;
    padding-bottom:20px;
}

/* Top nav and header
-------------------------------------------------- */

.bs-docs-nav {
  background-color: #014;
}
.bs-docs-nav .navbar-brand {
  color: #fff;
  font-weight:900;
}
.bs-docs-nav a.navbar-brand:hover {
  color: #e00;
  background-color: #2e8bcc;
}
.bs-docs-nav .navbar-nav > li > a {
  color: #ddd;
}
.bs-docs-nav .navbar-nav > li > a:hover {
  color: #fff;
  padding-bottom:11px;
  border-bottom:4px solid #1ff;
  background-color: #2e8bcc;
}
.bs-docs-nav .navbar-nav > .active > a,
.bs-docs-nav .navbar-nav > .active > a:hover {
  color: #1ff;
  padding-bottom:11px;
  border-bottom:4px solid #e00;
}
.bs-docs-nav .navbar-toggle {
  border-color: #563d7c;
}
.bs-docs-nav .navbar-toggle:hover {
  background-color: #463265;
  border-color: #463265;
}
/* side nav*/
#main-box .sidebar-nav{
  padding: 20px 0px;
}
.sidebar-nav .nav-pills > li {
  padding:0;
}
.sidebar-nav .nav-pills > li  > a {
  border-radius: 0;
  padding:10px 10px;
  background-color: #eee;
  margin:2px;
}
.sidebar-nav .nav-pills > li  > a:hover{
  color: #fff;
  border-right:4px solid #1ff;
  background-color: #6bd;
}
.sidebar-nav .nav-pills > li.active  > a {
  border-right:4px solid #e00;
  background-color: #428BCA
}